.main {
  display: flex;
  align-items: stretch;
}

.skillName {
  border: 1px solid black;
  width: 250px;
  height: 350px;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.skillPhoto{
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
}