.navMenu {
  width: 400px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.navMenu > .active {
  border-bottom: 2px solid rgba(68, 75, 139, 0.658);
  color: rgb(85, 112, 112);
}

.link{
  text-decoration: none;
  color: aliceblue;
  padding-bottom: 3px;
  font-weight: 400;
  letter-spacing: 2px;
}