.slogan {
  min-height: 40vh;
  background-color: rgb(170, 159, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #B4EAD3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  border-radius: 20px;
  min-height: 250px;
}

.text{
  color: aliceblue;
  font-size: 40px;
  transition: 2s all;
}@media screen and (max-width: 500px) {
  .text {
    width: 100%;  
    font-size: medium;
  } 
}
.text:hover {
  color: rgb(226, 19, 19);
  transition: 2s all;
}

.sloganButton {
  width: 150px;
  height: 50px;
}