.slogan {
  height: 30vh;
  background-color: rgb(250, 191, 103);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border: 1px solid;
  justify-content: space-between;
  height: 70%;
}

.sloganButton {
  width: 150px;
  height: 50px;
}