.main {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skillName {
  width: 250px;
  height: 350px;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-around; 
}
.textStylization{
  color: aliceblue;
  font-weight: 300;
  transition: 2s all;
  opacity: 0.7;
}
.textStylization:hover{
  opacity: 1;
  transition: 2s all;
  transform: rotateX(360deg);
  color:  rgb(76, 100, 100)
}

.skillPhoto1{
  border: 1px solid rgba(26, 29, 31, 0.486);
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  background: url(images/speed.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.skillPhoto2{
  border: 1px solid rgba(26, 29, 31, 0.486);
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  background: url(images/strength.png);
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skillPhoto3{
  border: 1px solid rgba(26, 29, 31, 0.486);
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  background: url(images/guitarability.png);
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}