.main {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.skillName {
  width: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-around;
}
.textStylization{
  color: aliceblue;
  font-weight: 300;
  transition: 2s all;
  opacity: 0.7;
}
.textStylization:hover{
  opacity: 1;
  transition: 2s all;
  transform: rotateX(360deg);
  color:  rgb(76, 100, 100)
}
.skillPhoto1 {
  position: relative;
}
.skillPhoto1 img{
  border: 1px solid rgba(26, 29, 31, 0.486);
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin: 20px;
}
.textBlock{
  margin-bottom: 60px;
  margin-top: 20px;
}
.photoBack {
  background-color: rgba(60, 65, 63, 0.979);
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  transition: 1s;
}.photoBack:hover{
  background-color: rgba(60, 65, 63, 0.288);
  transition: 1s;
}