.header {
  min-height: 60px;
  background-color: rgb(8, 122, 126);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  opacity: 0.3;
  z-index: 9;
  
}
.container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}