.header {
  height: 60px;
  background-color: rgb(8, 122, 126);
  display: flex;
  justify-content: center;
  
}
.container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}