.contacts {
  min-height: 80vh;
  background-color: rgb(8, 122, 126);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(170, 159, 165);
  display: flex;
  width: 80%;
  min-height: 350px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.contactsButton {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
}@media screen and (max-width: 250px) {
  .contactsButton {
    width: 100%;  
  } 
}

.form {
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-between;
}@media screen and (max-width: 629px){
  .form {
    width: 100%;
  }
}

.text{
  color: aliceblue;
  font-size: 30px;
  transition: 2s all;
}@media screen and (max-width: 500px) {
  .text {
    width: 100%;  
    ;
  } 
}

