.contacts {
  min-height: 80vh;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  width: 80%;
  min-height: 350px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: column;
}
.linee{
  composes: line from '../index.css';
  margin-bottom: 40px;
}
.text{
  composes: headerTitle from '../index.css';
  margin-top: 70px;
}@media screen and (max-width: 500px) {
  .text {
    width: 100%;  
  } 
}

.form {
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-between;
}@media screen and (max-width: 629px){
  .form {
    width: 100%;
  }
}
.formInput{
  margin: 10px;
  padding: 7px;
  font-size: 17px;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  background-color: #252527;
  color: aliceblue;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.4s ease-in-out 0s;
}
.formInput:focus {
  border:1px solid transparent
}

.contactButton{
  padding: 40px;
}
.worksButton {
  composes: mainButton from '../index.css';
}
.worksButton span {
  transition: all 0.3s;
  text-transform: capitalize;
  color: #000000;
  font-size: 15px;
  font-weight: 900;
}
.worksButton::before {
	bottom: -2px;
	left: 0;
	width: 100%;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: rgb(68, 75, 139);
}
.worksButton:hover span {
  letter-spacing: 2px;
  color: aliceblue
}
.worksButton:hover::after {
	opacity: 0;	
  transform: scale(0.1, 1);
}
.worksButton:active span {
  letter-spacing: 5px;
}
