.main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
} @media screen and (max-width: 1199px) {
  .main {
    justify-content: center;
  }
}

.worksName {
  width: 450px;
  height: 750px;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-around; 
  padding: 30px;
}@media screen and (max-width: 650px) {
  .worksName {
    width: 100%;
    height: 300px;
  }
}


.worksPhoto1{
  composes: photo_WorkBlock from '../../index.css';
  background: url(images/portfolio.jpeg);
}

.worksPhoto2{
  composes: photo_WorkBlock from '../../index.css';
  background: url(images/SocialPage.jpg);
}

.worksPhoto3{
  composes: photo_WorkBlock from '../../index.css';
  background: url(images/todolist.png);
}
.worksPhoto4{
  composes: photo_WorkBlock from '../../index.css';
  background: url(images/countingMachine.jpg);
}


.spanText {
  color: aliceblue;
  font-weight: 300;
  transition: 2s all;
  opacity: 0.7;
}
.spanText:hover{
  opacity: 1;
  transition: 2s all;
  transform: rotateX(360deg);
  color:  rgb(76, 100, 100)
}


.worksButton {
  composes: mainButton from '../../index.css';
  opacity: 0.4;
  border-radius: 20px;
	width: 70%;
  background-color: rgb(153, 162, 177);
}
.worksButton span {
	transition: all 0.3s;
}
.worksButton:hover span {
  letter-spacing: 5px;
  font-size: 25px;
  color:  rgb(76, 100, 100)
}
.worksButton::after {
  background-color: rgba(224, 50, 50, 0);
  border-radius: 20px;
}
.worksButton:hover::after {
	opacity: 0;	
  transform: scale(0.1, 1);
  border-radius: 20px;
  background-color: rgb(33, 37, 41);
}
