.main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
} @media screen and (max-width: 1086px) {
  .main {
    justify-content: center;
  }
}

.worksName {
  width: 300px;
  height: 350px;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: center;
  margin: 10px;
} @media screen and (max-width: 350px) {
  .worksName {
    width: 100%;  
  } 
}


.worksPhoto1{
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 250px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  background: url(images/portfolio.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}@media screen and (max-width: 350px) {
  .worksPhoto1 {
    width: 100%;  
  } 
}.worksPhoto1:hover {
  transition: 0.5s all;
  filter: blur(2px);
}

.worksPhoto2{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  background: url(images/SocialPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.worksPhoto3{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  background: url(images/todolist.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.spanText {
  color: aliceblue;
  font-weight: 300;
  transition: 2s all;
  opacity: 0.7;
}
.spanText:hover{
  opacity: 1;
  transition: 2s all;
  transform: rotateX(360deg);
  color:  rgb(76, 100, 100)
}

.worksButton {
  background-size: cover;
	background-color:#92aefa;
	border-radius:15px;
	border:1px solid #4f92a3;
	cursor: pointer;
	color:#546072;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  opacity: 0.6;
}
.worksButton:hover {
  background-color:#ccc2a6;
  opacity: 0.8;
}
.worksButton:active {
	position:relative;
	top:1px;
}