.mainBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}
.worksBlock {
  width: 330px;
  flex-direction: column;
  display: flex;
  margin: 10px;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-around; 
}@media screen and (max-width: 500px) {
  .worksBlock{
    width: 100%;
  }
}

.worksPhotoBlock {
  width: 100%;
  height: 450px;
  margin: 10px !important;
}
.h2Text{
  composes: spanText from '../../index.css';
  text-transform: capitalize;
}
.spanText {
  composes: spanText from '../../index.css'
}
.spanText:hover{
  opacity: 1;
  transition: 2s all;
  transform: rotateX(360deg);
  color:  rgb(76, 100, 100)
}


.worksButton {
  composes: mainButton from '../../index.css';
  opacity: 0.4;
  border-radius: 20px;
	width: 70%;
  background-color: rgb(153, 162, 177);
}
.worksButton span {
	transition: all 0.3s;
}
.worksButton:hover span {
  letter-spacing: 5px;
  font-size: 25px;
  color:  rgb(76, 100, 100)
}
.worksButton::after {
  background-color: rgba(224, 50, 50, 0);
  border-radius: 20px;
}
.worksButton:hover::after {
	opacity: 0;	
  transform: scale(0.1, 1);
  border-radius: 20px;
  background-color: rgb(33, 37, 41);
}
