.navMenu {
  width: 400px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.navMenu > .active {
  border-bottom: 2px solid rgb(182, 7, 7);
  color: blue;
}

.link{
  text-decoration: none;
  color: aliceblue;
  padding-bottom: 3px;
  font-weight: 400;
}