.navMenu {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.navMenu > .active {
  border-bottom: 2px solid white;
}

.link{
  text-decoration: none;
  color: aliceblue;
  padding-bottom: 3px;
  font-weight: 400;
}