.skills {
  min-height: 100vh;
  background-color: rgb(8, 122, 126);
  display: flex;
  justify-content: center;
}
.container {
  background-color: rgb(170, 159, 165);
  width: 80%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
}
