.skills {
  min-height: 100vh;
  background-color: rgb(171, 250, 201);
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.container {
  border: 1px solid black;
  width: 80%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
}