.main {
  min-height: 100vh;
  background-color: rgb(170, 159, 165);
  display: flex;
  justify-content: center;
}
.container {
  background-color: #B4EAD3;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.greeting {
display: flex;
flex-direction: column;

}

.profileStatus {
  color: aliceblue;
  font-size: 40px;
  transition: all 0.4s ease 0s;
}
.profileStatus:hover {
  letter-spacing: 3px;
  transition: all 0.4s ease 0s;
}

.photo {
  height: 300px;
  width: 300px;
  background-color: rgb(85, 112, 112);
  display: flex;
  background: url(../tom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}