.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  border-bottom: rgba(26, 29, 31, 0.486) solid 3px;
  padding-top: 60px;
  position: relative;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.greeting {
display: flex;
flex-direction: column;
font-family: 'Josefin Sans', sans-serif;

}
.profileStatush1 span:nth-child(1):before {
content: '';
position: absolute;
width: 340px;
height: 17px;
background-color: rgba(68, 75, 139, 0.658);
z-index: -1;
bottom: 0px;
border-radius: 3px;
}@media screen and (max-width: 599px) {
  .greeting span:nth-child(1):before {
    bottom: 48px;
    width: 120px;
  } 
}

.profileStatush3 {
  width: 100%;
  letter-spacing: 2px;
  z-index: 0;
}
.profileStatush1 {
  margin: 10px;
  font-weight: 700;
  font-size: 40px;
  color: aliceblue;
  transition: all 1s ease 0s;
  position: relative;
  z-index: 0;
  letter-spacing: 3px;
}


.photo {
  position: relative;
  z-index: 1;
  margin: 30px;
  transition: 500ms;
}
.photo:hover {
  transform: scale(1.1);
}
.image {
  background: url(../img/imagesMainBlock/me.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(85, 112, 112);
}@media screen and (max-width: 465px) {
  .image {
    width: 180px;
    background-position: center;
  }
}
.photo .image:before {
  content: '';
  position: absolute;
  width: 350px;
  height: 380px;
  border: 5px solid rgba(68, 75, 139, 0.658);
  top: -15px;
  left: 18px;
  border-radius: 10px;
  z-index: -1;
}@media screen and (max-width: 465px) {
  .photo .image:before {
    width: 100%;
    height: 100%;
  }
}