.header {
  min-height: 140px;
  font-size: 35px;
  display: block; 
  color: aliceblue;
  transition: 2s all;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.7em;
}

.header:hover {
  transform: scale(1.3);
  transition: 2s all;
}