body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 37, 41);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  min-height: 100px;
  padding:20px;
} .headerTitle {
  color: aliceblue;
  transition: 2s all;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.2;
  font-size: 36px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px auto;
} .line {
  background-color: rgba(68, 75, 139, 0.658);
  height: 2px;
  width: 55px;
  margin: 20px auto;
}

.spanText {
  color: aliceblue;
  font-weight: 300;
  transition: 2s all;
  opacity: 0.7;
  letter-spacing: 1px;
}


.iconsFooter {
  width: 60px;
  height: 60px;
  transition: 300ms;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  position: relative;
}
/* .iconsFooter::before{
  content: '';
  position: absolute;
  bottom: 0px;
	left: 28px;
	width: 8px;
  opacity: 0;
	border-bottom-width: 8px;
	border-bottom-style: solid;
  border-bottom-color: #141212;
  transition: 0.3s ;
}
.iconsFooter:hover::before {
  bottom: -20px;
  opacity: 1;	
} */


.mainButton {
  color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
  position: relative;
	height: 50px;
	text-align: center;
	width: 150px;
  cursor: pointer;
  background-color: #1f1f20;
  font-family:'Josefin Sans', sans-serif;
} .mainButton:hover {
  opacity: 1;
} .mainButton::before{
  content: '';
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 80%;
	height: 100%;
	z-index: 1;
	opacity: 0.1;
	transition: all 1s;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(68, 75, 139);
	transform: scale(0.1, 1);
} .mainButton:hover::before {
  opacity: 1;	
	transform: scale(1, 1);	
} .mainButton::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	background-color: rgba(255, 255, 255, 0.116);
}