.main {
  height: 100vh;
  background-color: rgb(250, 171, 243);
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greeting {
display: flex;
flex-direction: column;
}

.photo {
  height: 400px;
  width: 300px;
  background-color: rgb(85, 112, 112);
}