.footer {
  min-height: 50vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 300px;
}

.header{
  display: flex;
  flex-direction: column;
}

.top {
  margin: 0px auto;
  color: aliceblue;
  transition: 2s all;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.2;
  font-size: 36px;
  font-family: 'Josefin Sans', sans-serif;
}.line{
  background-color: rgba(68, 75, 139, 0.658);
  height: 1px;
  width: 55px;
  margin: 20px auto;
}
.socials {
  display: flex;
  width: 50%;
  justify-content: space-between;
}@media screen and (max-width: 893px) {
  .socials {
    width: 80%;
  }
}
.img1 {
  width: 60px;
  height: 60px;
  background: url(img/facebook.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.img2 {
  width: 60px;
  height: 60px;
  background: url(img/instagram.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.img3 {
  width: 60px;
  height: 60px;
  background: url(img/twitter.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bottom {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
}