.footer {
  min-height: 50vh;
  background-color: #B4EAD3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 300px;
}

.socials {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.bottom {
  color: aliceblue;
  font-size: 20px;
}

.top {
  color: aliceblue;
  font-size: 40px;
}

.img1 {
  width: 60px;
  height: 60px;
  background: url(img/facebook.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.img2 {
  width: 60px;
  height: 60px;
  background: url(img/instagram.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

.img3 {
  width: 60px;
  height: 60px;
  background: url(img/twitter.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

.img4 {
  width: 60px;
  height: 60px;
  background: url(img/youtube.png);
  background-size: 100%;
  background-repeat: no-repeat;

}