.footer {
  min-height: 50vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 300px;
}

.header{
  display: flex;
  flex-direction: column;
}

.top {
  composes: headerTitle from '../index.css';
}.line{
  composes: line from '../index.css';
}
.socials {
  display: flex;
  width: 50%;
  justify-content: space-between;
}@media screen and (max-width: 893px) {
  .socials {
    width: 80%;
  }
}
.img1 {
  background: url(img/facebook.png);
  composes: iconsFooter from '../index.css';
}

.img2 {
  background: url(img/instagram.png);
  composes: iconsFooter from '../index.css';
}

.img3 {
  background: url(img/twitter.png);
  composes: iconsFooter from '../index.css';
}

.bottom {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
}